@import url(https://fonts.googleapis.com/css?family=Lora:400,700&subset=latin,cyrillic);
body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: black;
}
.launch-block {
    font-family: 'Lora', serif;
    text-align: center;
    border: 1px white solid;
    background: black;
    margin: 20px;
    color: white;
    overflow: auto;
    padding: 5px;
}
.mars {
    background: url("./images/mars.jpg");
    background-size: 100%;
}

.stars{
    background: url("./images/cosmos.jpg");
    background-size: 100%;
}

.earth{
    background: url("./images/earth.jpg");
    background-size: 100%;
}
.timer{
    border: 1px solid white;
    width: fit-content;
    padding: 5px;
    display: inline-block;
    font-size: x-large;
}